.baslikstil{
    text-align: center;
    font-weight: bold;
    width: 30%;
    font-size: 300%;
    color: #EEF3D2;
    background-color: #B689C0;
    padding: 0.5%;
    border-radius: 25px;
}

.metinstil{
    width: 60%;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    font-size: 160%;
    color: #F2F2F2;
    background-color: #6D8B74;
}
.resimstil img{
 
  width: 100%;
  margin: 0 -10%;
  
}
.flex{
    display: flex;
    margin-top: 10%;
}
.resimstil2 img{
    width: 83%;
  margin: 5 -10%; 
}
