*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-image: url(/webtechproje/images/pexels-fwstudio-163999.jpg);
    background-size: cover;
    
    

}
#transparent {
    width: 100%;
    height: 8vh;
    background-color:#3a3636;
    opacity:0.6;
    filter:alpha(opacity=60);
  
}
.firstdiv{
    background-color: #266a83;
    color: #FFE4C0;
    align-items: center;
    display: flex;
    color: whitesmoke;
    justify-content: space-around;
    height: 6vh;
    flex-direction: row;
    font-family: 'Overpass', sans-serif;
    padding: auto;
 
}

.baslikstil{
    
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    position: relative;

    z-index: 2;
}
.buttonstil{
     
    
    position: relative;
    left: 89%;
    bottom: 60px;
    z-index: 2;
    
}
.navbar-header{
    background-color: #727677;
    width: 25%;
    padding: 5px;
    align-items: center;
    position: relative;
    bottom: 115px;
    left: 720px;
    border-radius: 20px;
    
}
.navbar{
    background-color:#3a3636;
    opacity:0.6;
    filter:alpha(opacity=80);
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 8vh;
    width: 100%;
    flex-direction: row;
    padding-right: 500px;
    margin-top: -107px;
}
ul.uste{
    position: relative;
    top:-60px;
    z-index: 2;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.nav-item{
    opacity:500;
    filter:alpha(opacity=0);
    font-weight: bold;
    font-size: larger;
    text-align: center;
    width: 250px;
    margin: 0 25px;

}
.nav-item:hover{
    background-color: #533E85;
    text-align: center; 
    border-radius: 10px;


}
.nav-link{
    color: aliceblue;
    font-size: 120%;   

}
.nav-link:hover{
    
    color: #4cfdc8;
}
.nav-link:active{
    
    color: #4cfdc8;
}

.uste .fas{
    margin-right: 15px;
}

.active{
    background-color: #533E85;;
    
    border-radius: 10px;
}
