.logostyle{
    margin-top: 6%;
}
.baslikstil{
    margin-top: 10%;
    width: 25%;
    text-align: center;
    padding: 1%;
    border-radius: 25px;
    background-color: rgb(255, 238, 0);
    color: rgb(255, 0, 0);
}
.baslikstil:hover{
    color: rgb(255, 238, 0);
    background-color: rgb(255, 0, 0);
}
.tablebg{
    margin-top: 5%;
    background-color: rgb(240, 72, 6);
    text-align: center;
    color: yellow;
    
}
.baslikstil2{
    margin-top: 5%;
    width: 25%;
    text-align: center;
    padding: 1%;
    border-radius: 25px;
    background-color: rgb(255, 238, 0);
    color: rgb(255, 0, 0);
}
.baslikstil2:hover{
    color: rgb(255, 238, 0);
    background-color: rgb(255, 0, 0);
}
.metinstil{
    margin-top: 3%;
    width: 60%;
    background-color: red;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 25px;
    padding: 1%;
    font-size: larger;
}
.baslikstil3{
    margin-top: 5%;
    width: 35%;
    text-align: center;
    padding: 1%;
    border-radius: 25px;
    background-color: rgb(255, 238, 0);
    color: rgb(255, 0, 0);
}
.baslikstil3:hover{
    color: rgb(255, 238, 0);
    background-color: rgb(255, 0, 0);
}
.resimstil{
    max-width: 100%;
    text-align: center;
    margin-top: 10%;
}
